---
layout: default
---

<h1>Articles by category::{{ page.category }}
 </h1>

 {% if page.category == "recipes" %}
<i class="fa fa-asterisk main-colour"></i> These are tutorials and how-to guides for different maker activities that are free to remix and reuse .

{% elsif page.category == "ingredients" %}
<i class="fa fa-asterisk main-colour"></i> Some introductory guides to different tools and resources used in making.


 {% endif %}
<div>
    {% if site.categories[page.category] %}
    <h1>   {% assign cat_name = category[0] %}</h1>
        {% for post in site.categories[page.category] %}
        <section>  <a href={{ post.url}}>{{ post.title }}</a></section>
        {% endfor %}
    {% else %}
        <p>There are no posts for this category.</p>
    {% endif %}
</div>
